body {
  font-family: 'Poppins', sans-serif; 
  margin: 0; 
  padding: 0; 
}

.caption {
  font-weight: bold; 
}

.gray-strike {
  color: gray;
  text-decoration: line-through; 
}  

.left-pane {
  background-color: #333333; 
  color: white;
  height: 100vh;
  left: 0;
  padding: 20px; 
  position: fixed;
  top: 0;
  width: 200px; 
}

.left-pane a {
  color: white;
  display: block;
  margin-bottom: 10px;
  text-decoration: none; 
}

.left-pane a:hover {
  text-decoration: underline; 
}

.main-pane {
  background-color: #F8F8F8;
  margin-left: 240px; 
  margin-right: 20px;
  padding: 20px; 
} 

.main-pane p {
  line-height: 1.5; 
  margin-bottom: 20px;  
  max-width: 900px;
  text-align: justify;
  word-wrap: break-word;
}

.main-pane strong {
  font-weight: bold; 
}

@media only screen and (max-width: 600px) {
  
  .left-pane {
    display: none; 
  }  
  
  .top-bar {
    background-color: #333333;
    color: white;
    padding: 10px; 
  }
  
  .top-bar a {
    color: white;
    margin-right: 20px;
    text-decoration: none; 
  }
  
  .top-bar a:hover {
    text-decoration: underline;
  }  
  
  .main-pane {  
    margin-left: 20px; 
    margin-right: 20px; 
  }  
}
